<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @football_stat.title %>
</p>

<p>
  <b>User:</b>
  <%= @football_stat.user_id %>
</p>

<p>
  <b>Games played:</b>
  <%= @football_stat.games_played %>
</p>

<p>
  <b>Pass completions:</b>
  <%= @football_stat.pass_completions %>
</p>

<p>
  <b>Pass attempts:</b>
  <%= @football_stat.pass_attempts %>
</p>

<p>
  <b>Pass interceptions:</b>
  <%= @football_stat.pass_interceptions %>
</p>

<p>
  <b>Passing yards:</b>
  <%= @football_stat.passing_yards %>
</p>

<p>
  <b>Tounchdown passes:</b>
  <%= @football_stat.tounchdown_passes %>
</p>

<p>
  <b>Longest pass:</b>
  <%= @football_stat.longest_pass %>
</p>

<p>
  <b>Number of carries:</b>
  <%= @football_stat.number_of_carries %>
</p>

<p>
  <b>Rushing yards:</b>
  <%= @football_stat.rushing_yards %>
</p>

<p>
  <b>Longest rush:</b>
  <%= @football_stat.longest_rush %>
</p>

<p>
  <b>Number of receptions:</b>
  <%= @football_stat.number_of_receptions %>
</p>

<p>
  <b>Receiving yards:</b>
  <%= @football_stat.receiving_yards %>
</p>

<p>
  <b>Longest reception:</b>
  <%= @football_stat.longest_reception %>
</p>

<p>
  <b>Pancake blocks:</b>
  <%= @football_stat.pancake_blocks %>
</p>

<p>
  <b>Solo tackles:</b>
  <%= @football_stat.solo_tackles %>
</p>

<p>
  <b>Assisted tackles:</b>
  <%= @football_stat.assisted_tackles %>
</p>

<p>
  <b>Sacks:</b>
  <%= @football_stat.sacks %>
</p>

<p>
  <b>Interception:</b>
  <%= @football_stat.interception %>
</p>

<p>
  <b>Assists per game avg:</b>
  <%= @football_stat.assists_per_game_avg %>
</p>

<p>
  <b>Fumbles retrieved:</b>
  <%= @football_stat.fumbles_retrieved %>
</p>

<p>
  <b>Blocked punts:</b>
  <%= @football_stat.blocked_punts %>
</p>

<p>
  <b>Blocked kicks:</b>
  <%= @football_stat.blocked_kicks %>
</p>

<p>
  <b>Field goal attempts:</b>
  <%= @football_stat.field_goal_attempts %>
</p>

<p>
  <b>Field goal successful:</b>
  <%= @football_stat.field_goal_successful %>
</p>

<p>
  <b>Longest field goal:</b>
  <%= @football_stat.longest_field_goal %>
</p>

<p>
  <b>Total points per game avg:</b>
  <%= @football_stat.total_points_per_game_avg %>
</p>

<p>
  <b>Is active:</b>
  <%= @football_stat.is_active %>
</p>


<%= link_to 'Edit', edit_football_stat_path(@football_stat) %> |
<%= link_to 'Back', football_stats_path %>
