<h1>Your Sports Stats</h1>
<div class="btn btn-small btn-inverse right"><i class="icon-th icon-white"></i> <%= link_to 'Back', "/controls" %></div>

<div class="stats_table">
<%= render 'football_stats/list' %>
</div>

<div class="stats_table">
<%= render 'baseball_stats/list' %>
</div>

<div class="stats_table">
<%= render 'basketball_stats/list' %>
</div>

<div class="stats_table">
<%= render 'soccer_stats/list' %>
</div>